<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1><%= user.username%>'s Profile</h1>

    <p>Full Name: <%= user.fullName %></p>
    <br />
    <p>Contact: <%= user.contact %></p>
    <br />
    <p>Address: <%= user.address %></p>
    <br />

    <a href="/profile/edit"><button>Edit Profile</button></a>
  </body>
</html>
