<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1><%= user.username%>'s Profile</h1>

    <p>Full Name: <%= user.fullName %></p>
    <br />
    <p>Contact: <%= user.contact %></p>
    <br />
    <p>Address: <%= user.address %></p>
    <br />

<% if (user.avatar){%>
  <img src="data:image/*;base64,<%= user.avatar%>" width="120" >

<%}%>



    <a href="/profile/edit"><button>Edit Profile</button></a>
    <a href="/feedback/userFeedback"><button>View Your Comments</button></a>
    <br />
    <br />

<!-- Showing logged-in user's favorited listings in their profile -->

    <h1>My Favorited Listings (<%= favoritedListings.length %>)</h1>
    <% favoritedListings.forEach(listing => { %>
      <img style="max-height: 50px;" src= <%= listing.imageURL %>/>
      <a href="/listings/<%= listing._id %>">
      <p><%= listing.title %> | Price: BHD<%= listing.price %> | Posted by: <%= listing.owner.username %></p></a>
    <% }) %>
  </body>
</html>
