<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Profile</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
<div class="profile-wrap">
    <div class="profile-card">
<div class="profile-username"><%= user.username%>'s Profile</div>

<div class="profile-content">
      <div class="profile-left">
<!-- add profile pic -->
 <div class ="pic-placeholder">No Image</div>

    </div>

<div class ="profile-right">



    <p>Full Name: <%= user.fullName %></p>
    <br />
    <p>Contact: <%= user.contact %></p>
    <br />
    <p>Address: <%= user.address %></p>
    <br />
    </div>
    </div>

<div class ="profile-button">

    <a href="/profile/edit"><button>Edit Profile</button></a>
    <a href="/feedback/userFeedback"><button>View Your Comments</button></a>

</div>
</div>
</div>



  </body>
</html>
