<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Profile</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

<div class="profile-layout">
<div class="profile-info">

    <h1><%= owner.username%>'s Profile</h1>

    <p>Full Name: <%= owner.fullName %></p>
    <br />
    <p>Contact: <%= owner.contact %></p>
    <br />
    <p>Address: <%= owner.address %></p>
</div>

<div class="feedback-section">

<% if (user){%>

  <div class="feedback-card">

<h3>Leave a Review</h3>

<form action="/feedback/<%=listing._id%>" method="POST">

<div class="stars">
      <input type="radio" id="star1"name="rating" value="1" />
      <label for="star1" class="star">★</label>
      <input type="radio" id="star2"name="rating" value="2" />
      <label for="star2" class="star">★</label>
      <input type="radio" id="star3"name="rating" value="3" />
      <label for="star3" class="star">★</label>
      <input type="radio" id="star4"name="rating" value="4" />
      <label for="star4" class="star">★</label>
      <input type="radio" id="star5"name="rating" value="5" />
      <label for="star5" class="star">★</label>
</div>

    <textarea name = "comment" class="feedback-text" placeholder="Write Your Comment"></textarea>


      <hr>

      <button type="submit" class="feedback-submit">Publish Feedback</button>
    </form>
  </div>
<%}%>
</div>


<div class="reviews-section">
<div class="review-box">
    <p><%= averageRating.toFixed(1)%>/5 : <%= feedback.length%> reviews</p>
  </div>

<%if (feedback.length ===0 ){ %>
  <div class="review-box"><p>No review Yet</P></div>
<%}else{%>
  <% feedback.forEach(feedback => { %>
    <div class="review-box">
<p>Comment: <%= feedback.comment %> </p>
<p>reviewer <%= feedback.reviewer.username %> </p>
<p>⭐: <%= feedback.rating %> </p>
<p>Date: <%= feedback.createdAt.toLocaleString()%></p>

      </div>

  <%})%>
<%}%>

</div>
</div>














  </body>
</html>
