<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Listings</title>
</head>
<body>
    <%- include("../partials/_navbar.ejs") %>
    <h1>All Listings</h1>
    <% listings.forEach((listing) => {%>
    <ul>
      <a href="/listings/<%= listing._id %>"><%= listing.title %> | Price: <%= listing.price %> | By user <%= listing.owner.username %></a>
    </ul>
    <%})%>
    <a href="/listings/new"><button>Add New Listing</button></a>
</body>
</html>
