<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>All Listings</title>
</head>
  <body>

    <%- include("../partials/_navbar.ejs") %>
    <div class="all-listings-page">
    <h1>All Listings</h1>
    <p>Total Listings: <% let totalListings = selectedCategory === "listingsByUser" ? listingsByUser.length : listings.length %> <%= totalListings %>

    <form method="GET" action="/listings">

      <div class="category-box">
      <label for="category">Filter by Category:</label>
      <select name="category" id="category" onchange="this.form.submit()">
        <option value="">All</option>

        <% if (user) { %>
        <option value="listingsByUser" <% if (selectedCategory === "listingsByUser") {%> selected <%}%>>View My Listings Only</option>
        <% } %>
        <option value="electronics" <% if (selectedCategory === "electronics") {%> selected <%}%>>Electronics</option>
        <option value="automotive" <% if (selectedCategory === "automotive") {%> selected <%}%>>Automotive</option>
        <option value="household" <% if (selectedCategory === "household") {%> selected <%}%>>Household Items</option>
        <option value="gardening" <% if (selectedCategory === "gardening") {%> selected <%}%>>Gardening</option>
        <option value="toys & games" <% if (selectedCategory === "toys & games") {%> selected <%}%>>Toys & Games</option>
        <option value="clothing" <% if (selectedCategory === "clothing") {%> selected <%}%>>Clothing</option>
        <option value="sports & fitness" <% if (selectedCategory === "sports & fitness") {%> selected <%}%>>Sports & Fitness</option>
        <option value="other" <% if (selectedCategory === "other") {%> selected <%}%>>Other</option>
      </select>
      </div>
    </form>



<!-- The following "displayListings" checks if "listingsByUser" is selected in filter; if not then shows the normal listings (all listings) -->
<% const displayListings = selectedCategory === "listingsByUser" ? listingsByUser : listings %>

<div class="all-listings-page-container">

    <% displayListings.forEach((listing) => {%>

      <div class="all-listings-page-card">
      <!-- <li class="listing"> -->
      <a href="/listings/<%= listing._id %>">
        <img src= <%= listing.imageURL %>   alt="<%= listing.title %>"/>

        <div class="all-listings-page-info">
          <h3><%= listing.title %></h3>
       <p>Price: BHD<%= listing.price %> </p>
       <p> By <%= listing.owner.username %> </p>
       <p> Created on <%= listing.createdAt.toLocaleString() %></p>
      </div>
     </a>
    </div>
    <%})%>
</div>

    <a href="/listings/new"><button>Add New Listing</button></a>
    </div>
  </body>
</html>
