<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>All Listings</title>
</head>
  <body>
    <%- include("../partials/_navbar.ejs") %>
    <h1>All Listings</h1>
    <p>Total Listings: <%= listings.length %></p>

    <form method="GET" action="/listings">
      <label for="category">Filter by Category:</label>
      <select name="category" id="category" onchange="this.form.submit()">
        <option value="">All</option>

        <% if (user) { %>
        <option value="listingsByUser" <% if (selectedCategory === "listingsByUser") {%> selected <%}%>>View My Listings Only</option>
        <% } %>
        <option value="electronics" <% if (selectedCategory === "electronics") {%> selected <%}%>>Electronics</option>
        <option value="automotive" <% if (selectedCategory === "automotive") {%> selected <%}%>>Automotive</option>
        <option value="household" <% if (selectedCategory === "household") {%> selected <%}%>>Household Items</option>
        <option value="gardening" <% if (selectedCategory === "gardening") {%> selected <%}%>>Gardening</option>
        <option value="toys & games" <% if (selectedCategory === "toys & games") {%> selected <%}%>>Toys & Games</option>
        <option value="clothing" <% if (selectedCategory === "clothing") {%> selected <%}%>>Clothing</option>
        <option value="sports & fitness" <% if (selectedCategory === "sports & fitness") {%> selected <%}%>>Sports & Fitness</option>
        <option value="other" <% if (selectedCategory === "other") {%> selected <%}%>>Other</option>
      </select>
    </form>

    <style>
  .listing {
    display: flex;
    align-items: center;  /* Align items vertically */
    margin: 10px 0;      /* Space between listings */
  }

  .listing img {
    width: auto;         /* Adjust the image size */
    height: 100px;        /* Maintain aspect ratio */
    margin-right: 10px;  /* Space between image and text */
    border-radius: 5px;
  }

  .listing a {
    text-decoration: none; /* Remove underline from links */
    color: #333;          /* Change text color */
  }

  .listing a:hover {
    color: #007bff;       /* Change color on hover */
  }
</style>

<!-- The following "displayListings" checks if "listingsByUser" is selected in filter; if not then shows the normal listings (all listings) -->
<% const displayListings = selectedCategory === "listingsByUser" ? listingsByUser : listings %>

    <% displayListings.forEach((listing) => {%>
      <li class="listing">
      <a href="/listings/<%= listing._id %>">
        <img src= <%= listing.imageURL %>/>
        <%= listing.title %> | Price: BHD<%= listing.price %> | By <%= listing.owner.username %> | Created on <%= listing.createdAt.toLocaleString() %> </a>
      </li>
    <%})%>
    <a href="/listings/new"><button>Add New Listing</button></a>

  </body>
</html>
