<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Listings</title>
</head>
  <body>
    <%- include("../partials/_navbar.ejs") %>
    <h1>All Listings</h1>
    <p>Total Listings: <%= listings.length %></p>
    <style>
  .listing {
    display: flex;
    align-items: center;  /* Align items vertically */
    margin: 10px 0;      /* Space between listings */
  }

  .listing img {
    width: auto;         /* Adjust the image size */
    height: 100px;        /* Maintain aspect ratio */
    margin-right: 10px;  /* Space between image and text */
    border-radius: 5px;
  }

  .listing a {
    text-decoration: none; /* Remove underline from links */
    color: #333;          /* Change text color */
  }

  .listing a:hover {
    color: #007bff;       /* Change color on hover */
  }
</style>

    <% listings.forEach((listing) => {%>
      <li class="listing">
      <a href="/listings/<%= listing._id %>">
        <img src= <%= listing.imageURL %>/>
        <%= listing.title %> | Price: BHD<%= listing.price %> | By <%= listing.owner.username %> | Created on <%= listing.createdAt.toLocaleString() %> </a>
      </li>
    <%})%>
    <a href="/listings/new"><button>Add New Listing</button></a>

  </body>
</html>
