<html>
  <body>
    <%- include("../partials/_navbar.ejs") %>
    <h1><%= listing.title %></h1>
    <p>Posted on <%= listing.createdAt.toLocaleString() %> by
    <% if(user && user.username !== listing.owner.username) { %>
      <a
      href = "/feedback/<%= listing._id%>"><%= listing.owner.username %>
    </a>
      <%} else {%>
        <a href="/profile"><%= listing.owner.username %></a>
      <%}%>
    </p>

    <!-- Favoriting a listing -->

    <p>This listing is favorited by <%= listing.favoritedBy.length %> users.</p>
    <% if(user && userHasFavorited) { %>
      <form action="/listings/<%= listing._id %>/favorited-by/<%= user._id %>?_method=DELETE" method="POST">
        <button type="submit">Remove from Favorite 🩶</button>
      </form>
      <% } else if (user) { %>
      <form action="/listings/<%= listing._id %>/favorited-by/<%= user._id %>" method="POST">
      <button type="submit">Add to Favorite ❤️</button>
      </form>
      <% } %>
    </br>


    <img src="<%= listing.imageURL %>" style="max-width: 500px; border-radius: 8px;"/>
    <p>Description: <%= listing.description %></p>
    <h4>Price: BHD <%= listing.price %></h4>
    <h4>Contact: <%= listing.contact.contact %></h4>



    <% if (user && listing.owner && listing.owner._id.equals(user._id)) { %>
      <!-- because we are allowing non logged in users to access this page, therefore this checks: 1. user exists (someone is logged in) // 2. listing.owner exists (listing has an owner) // 3. user._id matches owner._id (logged in user owns this listing) -->
      <a href="/listings/<%= listing._id %>/edit"><button>Edit Listing</button></a>
      <% } %>
      <a href="/listings"><button>Back to Listings</button></a>

  </body>
</html>
