<html>
  <body>
    <%- include("../partials/_navbar.ejs") %>
    <h1><%= listing.title %></h1>
    <p>Posted on <%= listing.createdAt.toLocaleString() %> by <%= listing.owner.username %> </p>
    <img src="<%= listing.imageURL %>" style="max-width: 500px; border-radius: 8px;"/>
    <p>Description: <%= listing.description %></p>
    <h4>Price: BHD <%= listing.price %></h4>
    <h4>Contact: <%= listing.contact.contact %></h4>
    <% if (listing.owner._id.equals(user._id)) { %>
      <a href="/listings/<%= listing._id %>/edit"><button>Edit Listing</button></a>
      <% } else { %>
        
      <% } %>
  </body>
</html>
